body,
html,
ol,
ul,
p
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-size: 12px;
}

#main
{
    padding: 20px;
    font-family: 'lucida grande','lucida sans unicade',sans-serif;
}

table.tasks
{
    width: 100%;
    color: #555;
    border-spacing: 0px;
    color: #222;
    border-collapse: collapse;
}

table.tasks th
{
    color: #222;
    text-align: left;
}

table.tasks th, table.tasks td
{
    padding: 2px;
}

table.tasks td
{
    border: 1px solid #ddd;
}

table.tasks button
{
    font-size: 0.9em;
}

table.tasks button.invisible
{
    visibility: hidden;
}

table.tasks tr { color: #444; }
table.tasks tr:hover { color: #fff; }

table.tasks tr.uploaded { background-color: #eee; }
table.tasks tr.uploaded:hover { background-color: #999; }

table.tasks tr.examined { background-color: #f4f4a4; }
table.tasks tr.examined:hover { background-color: #bb3; }

table.tasks tr.accepted { background-color: #a4f4a4; }
table.tasks tr.accepted:hover { background-color: #6c6; }

table.tasks tr.sent { background-color: #a4f4f4; }
table.tasks tr.sent:hover { background-color: #3bb; }

table.tasks tr.deployed { background-color: #a4a4f4; }
table.tasks tr.deployed:hover { background-color: #77f; }

.ui-widget
{
    font-size: 1em;
}

.ui-widget dt
{
    float: left;
    clear: left;
    width: 120px;
}

.ui-widget dd
{
    float: left;
}

.ui-widget dt, .ui-widget dd
{
    margin: 5px 0;
    height: 25px;
}

.ui-widget input[type=text]
{
    width: 250px;
}

