body,
html,
ol,
ul,
p
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-size: 12px;
}

#main
{
    padding: 20px;
    font-family: 'lucida grande','lucida sans unicade',sans-serif;
}

table.tasks
{
    width: 100%;
    color: #555;
    border-spacing: 0px;
    color: #222;
}

table.tasks th
{
    color: #222;
    text-align: left;
}

table.tasks th, table.tasks td
{
    padding: 2px;
}

table.tasks button
{
    font-size: 0.9em;
}

table.tasks tbody tr
{
    opacity: 0.6;
}

table.tasks tbody tr:hover
{
    opacity: 1;
}

table.tasks tr.uploaded
{
    background-color: #EBEBEB;
}

table.tasks tr.rejected
{
    background-color: #F47B78;
}

table.tasks tr.examined
{
    background-color: #FFF978;
}

table.tasks tr.accepted
{
    background-color: #70F378;
}

table.tasks tr.sent
{
    background-color: #71FAFE;
}

table.tasks tr.processed
{
    background-color: #A28FBB;
}

table.tasks tr.completed
{
    background-color: #919191;
}

.ui-widget
{
    font-size: 1em;
}

.ui-widget dt
{
    float: left;
    clear: left;
    width: 120px;
}

.ui-widget dd
{
    float: left;
}

.ui-widget dt, .ui-widget dd
{
    margin: 5px 0;
    height: 25px;
}

.ui-widget input[type=text]
{
    width: 250px;
}

